# ports
BACKEND_PORT=4000
REACT_PORT=3000
POSTGRES_PORT=5432

# Frontend (must be prefixed with VITE_ so Vite exposes it to the browser)
VITE_API_URL=http://localhost:4000

# DB
POSTGRES_USER=username
POSTGRES_PASSWORD=changeme
POSTGRES_DB=myciridb