# ports
BACKEND_PORT=4000
REACT_PORT=3000
POSTGRES_PORT=5432


# DB
POSTGRES_HOST=postgres
POSTGRES_USER=username
POSTGRES_PASSWORD=changeme
POSTGRES_DB=myciridb


# External APIs
GEMINI_API_KEY=your_api_key_here

# for Production, defaults for dev mode applied in docker compose
REACT_URL=http://react_app
API_DOMAIN=localhost