name: ciri-tests
services:
  postgres:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=changeme
      - POSTGRES_DB=test_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ../backend
      dockerfile: ../infra/Dockerfile.backend
      target: dev
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=changeme
      - POSTGRES_DB=test_db
    command: >
      sh -c "npm run test && npm run test:e2e"
    volumes:
      - ./backend-test-results:/app/test-results