:root {
  /* Core Colors */
  --primary: #3b82f6;
  --bg-dark: #0f1115;

  /* Typography Colors (High Contrast for Dark Mode) */
  --text-main: rgba(255, 255, 255, 0.87);
  --text-muted: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-dark);
  color: var(--text-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
