name: CD - Backend to Production

on:
  push:
    branches: [ main ]
    paths:
      - 'backend/**'
      - 'infra/**'

# Define variables for reuse
env:
  REGISTRY: ghcr.io
  # github.repository returns "owner/repo"
  IMAGE_NAME: ${{ github.repository }}-backend

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    # Give permissions to write to GitHub Packages
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      # Login to GitHub Container Registry
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Lowercase image name for GHCR
      # This step fixes that automatically.
      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=sha,format=long

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: infra/Dockerfile.backend
          push: true
          # Use generated tags
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
