name: CD - Backend to Staging

on:
  push:
    branches: [ staging ]
    paths:
      - 'backend/**'
      - 'infra/**'

env:
  REGISTRY: ghcr.io
  # github.repository returns "owner/repo"
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Lowercase image name for GHCR
      # This step fixes that automatically.
      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=sha,format=long
      
      # Build and Push the Docker Image go GHCR
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: infra/Dockerfile.backend
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  #deploy:
  #  runs-on: ubuntu-latest
  #  needs: build-and-push
  #  steps:
  #    - name: Trigger Deployment
  #      run: echo "Call your webhook or SSH script here to update the Staging Server"